:root {
  --accent-color: #7f7aff;
}

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a,
a:focus,
a:hover {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-underline-offset: 0.4rem;
}
.accordion-link {
  padding: 8px 16px 8px 1rem;
  display: block;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.accordion-link--icon {
  padding: 8px 16px;
  display: block;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.accordion-item--selected {
  background-color: #5954aa;
}

.Outpost-generated h1 {
  margin: 0;
  font-size: 42px;
  line-height: 44px;
  font-weight: 600;
}

.Outpost-generated section {
  display: flex;
  flex-flow: column;
  gap: 1.25rem;
}
/* .Outpost-generated li:not(:last-child) {
  margin: 1rem 0;
} */

.Outpost-generated h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.Outpost-generated h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}

.Outpost-generated p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #f9f9fe;
}

.ch-codeblock .ch-code-button {
  display: none;
}

.ch-codeblock:hover .ch-code-button {
  display: block;
}
